@import './font';
@media ( max-width: 767px ) {

    .wrapper{
        height: 100%;
        background : url('../hackyourlife.png') center center / cover no-repeat;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
        margin-bottom: -20px;
    
        .background{
            display: block;
            position: fixed;
            top: 0;
            z-index: -1;
            width: 100%;
        }
    }
    
    .main{
        display: flex;
        flex-direction: column;
        height: 100vh;
        h4{
            font-size: 34px;
        }
        /*
        background-image: url('../static/hackyourlife_resize.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        */
    }
    
    hr{
        width: 100%;
        border: solid 1px white;
    }

    .mainbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        color: white;
    
        &__slogan{
            margin: 20px 0px;
            img{
                display: none;
            }
        }
    
        &__name{
            margin: 10px 0px;
        }
    
        &__duedate{
            margin: 10px 0px;
        }
    
        &__applybox{
            margin: 10px 0px;
            a{
                text-decoration: none;
            }
            .button{
                color: white;
                border: solid 1px white;
                border-radius: 16px;
                padding: 4px 8px;
            }
        }
    }
    .info{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        //justify-content: space-around;
        background-color: rgb(247, 247, 247);
        margin: 5%;
        //color: white;
        &__title{
            margin: 10px;
            margin-bottom: 15px;
            .title{
                display: none;
            }
            .title_mobile{
                display: block;
                font-weight: $medium;
                margin-bottom: 10px;
            }
            .text{
                display: none;
            }
        }
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin: 10px 0;
            margin-bottom: 0;
            //background-color: #383A3F;
    
            &__first{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding-top: 10px;
                flex: 1;
                margin: 0;
                background-color: #383A3F;
                color: white;
                .text{
                    margin-bottom: 10px;
                    font-weight: $bold;
                }
                .hovertext{
                    display: none;
                }
            }
    
            &__second{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding-top: 10px;
                flex: 1;
                margin: 0;
                background-color: #383A3F;
                color: white;
                .text{
                    margin: 10px;
                    font-weight: $bold;
                }
                .hovertext{
                    display: none;
                }
            }
            
            &__third{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding-top: 10px;
                flex: 1;
                margin: 0;
                background-color: #383A3F;
                color: white;
                .text{
                    margin: 0px;
                    font-weight: $bold;
                }
                .hovertext{
                    display: none;
                }
            }
    

            &__first:hover{
                background-color: #F2A141;
                i{
                    display: none;
                }
                .text{
                    display: none;
                }
                .hovertext{
                    display: flex;
                    flex-direction: column;
                    padding: 4%;
                    font-weight: $regular;
                    point{
                        color: white;
                        font-weight: $bold;
                    }
                    .content{
                        font-weight: $thin;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        margin-top: 16px;
                        .left{
                            display: flex;
                            flex-direction: column;
                            h5{
                                font-size: 80%;
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: column;
                            h5{
                                font-size: 80%;
                            }
    
                        }
                    }
                }
            }
    
            &__second:hover{
                background-color: #F2A141;
                i{
                    display: none;
                }
                .text{
                    display: none;
                }
                .hovertext{
                    display: flex;
                    flex-direction: column;
                    padding: 4%;
                    h5{
                        font-weight: $medium;
                    }
                    point{
                        color: white;
                        font-weight: $bold;
                    }
                    .content{
                        h6{
                            font-weight: $regular;
                            font-size: 80%;
                        }
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin-top: 16px;
                    }
                }
    
            }
            &__third:hover{
                background-color: #F2A141;
                i{
                    display: none;
                }
                .text{
                    display: none;
                }
                .hovertext{
                    display: flex;
                    flex-direction: column;
                    padding: 4%;
                    h5{
                        font-weight: $medium;
                    }
                    point{
                        color: white;
                        font-weight: $bold;
                    }
                    
                    .content{
                        h6{
                            font-weight: $regular;
                        }
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        margin-top: 16px;
                    }
                }
            }
    
    
        }
        &__end{
            display: none;
            margin: 20px 100px;
            margin-left: auto;
            .text{
                font-weight: $thin;
            }
        }
        point{
            color: #F2A141;
        }
    }

    .curi{
        display: flex;
        flex-direction: column;
        height: 50vh;
        //flex-wrap: wrap;
        justify-content: center;
        margin: 5%;
        color: white;
        &__card{
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            .elem{
                display: flex;
                align-items: center;
                background-color: rgb(255, 255, 255);
                padding: 20px;
                margin: 5px;
                justify-content: center;
            }
            .elem-top{
                display: flex;
                flex-direction: row;
                justify-content: center;
                //flex-wrap: wrap;
                .logo{
                    flex: auto;
                    max-width: 40px;
                }
            }
            .elem-bottom{
                display: flex;
                flex-direction: row;
                justify-content: center;
                //flex-wrap: wrap;
                .logo{
                    flex: auto;
                    max-width: 50px;
                }
            }
        }
        &__title{
            flex: none;
            color: white;
            text-align: center;
            margin: 50px 0;
            .text{
                font-weight: $medium;
            }
            hr{
                width: 70%;
                border: 1px solid #F2A141;
            }
            .discription{
                margin: 10px 0;
                color: rgb(122, 122, 122);
            }
        }
    }
    



}