{% extends './base.html' %}

{% block content %}

<div class="wrapper">
    <div class="main">
        <div class="mainbox">
            <div class="mainbox__slogan">
                <img src="../static/hackyourlife_font.png" alt="mainimage"/>
            </div>
            <div class="mainbox__name">
                <h4> 멋쟁이 사자처럼 8기 </h4>
            </div>
            <hr style="width='50%'"/>
            <div class="mainbox__duedate">
                <p> 지원기간: 3월 18일 ~ 3월 31일 </p>
                <p> 1차 합격자 발표 : 4월 3일 </p>
            </div>
            
            <div class="mainbox__applybox">
                <a href="/apply">
                    <div class="button">
                        <h5> 지원하기 </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="info__title">
            <h3 class="title"> 멋쟁이 사자처럼에서 <br/> 당신은 성장할 수 있습니다 </h3>
            <h4 class="title_mobile"> 멋쟁이 사자처럼에서는 ...</h4>
            <hr/>
            <h4 class="text"> You can ... </h4>
        </div>
        <div class="info__content">
            <div class="info__content__first">
                <i class="fas fa-code fa-6x"></i>
                <h5 class="text"> learn develop skills </h5>
                <div class="hovertext">
                    <h5> <point>최신 기술 스택</point> 및 툴 스터디 </h5>
                    <div class="content">
                        <div class="left">
                            <h5>HTML/CSS</h5>
                            <h5>Javascript</h5>
                            <h5>Python</h5>
                            <h5>GIT</h5>
                        </div>
                        <div class="right">
                            <h5>Django</h5>
                            <h5>React</h5>
                            <h5>AI</h5>
                            <h5>Swit</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info__content__second">
                <i class="far fa-lightbulb fa-6x"></i>
                <h5 class="text"> realize your own service </h5>
                <div class="hovertext">
                    <h5> 창업교육, <br/> 해커톤을 통한 <point>서비스 구체화</point> </h5>
                    <div class="content">
                        <h6> 온라인 창업교육 </h6>
                        <h6> 실제 아이디어 구현/피드백 </h6>
                        <h6> VC 피칭 기회 부여 </h6>
                    </div>
                </div>
            </div>
            <div class="info__content__third">
                <i class="far fa-comments fa-6x"></i>
                <h5 class="text"> co-work other dreamers </h5>
                <div class="hovertext">
                    <h5> 온/오프라인 네트워킹 </h5>
                    <div class="content">
                        <h6> 스타트업 사관학교 </h6>
                        <h6> 뱅크샐러드, Bepro11, 탈잉등 멋사 출신 기업과의 네트워킹 </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="info__end">
            <h4 class="text"> in <point>LIKE LION </point>@ DGIST </h4>
        </div>
    </div>
    <div class="curi">
        <div class="curi__title">
            <h3 class="text"> Curriculum </h3>
            <hr/>
            <p class="discription"> * 커리큘럼은 변동될 수 있습니다. </p>
        </div>
        <div class="curi__card">
            <div class="elem-top">
                <div class="elem">
                    <img src="../../static/html.png" alt="html" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../../static/css.png" alt="css" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../../static/js.png" alt="js" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../../static/python.png" alt="python" class="logo"/>
                </div>
            </div>
            <div class="elem-bottom">
                <div class="elem">
                    <img src="../../static/react.png" alt="react" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../../static/django.png" alt="django" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../../static/git.png" alt="git" class="logo"/>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}