{% extends './base.html' %}

{% block content %}

<div class="wrapper">
    <div class="main">
        <div class="mainbox">
            <div class="mainbox__slogan">
                <img src="../static/hackyourlife_font.png" alt="mainimage"/>
            </div>
            <div class="mainbox__name">
                <h4> 멋쟁이 사자처럼 8기 </h4>
            </div>
            <hr style="width='50%'"/>
            <div class="mainbox__duedate">
                <p> 사이트 준비 중 입니다 </p>
            </div>
            
            <div class="mainbox__applybox">
                <a href="/apply">
                    <div class="button">
                        <h5> Apply! </h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="info__title">
            <h3 class="title"> 멋쟁이 사자처럼에서 <br/> 당신은 성장할 수 있습니다 </h3>
            <h4 class="title_mobile"> 멋쟁이 사자처럼에서는 ...</h4>
            <hr/>
            <h4 class="text"> You can ... </h4>
        </div>
        <div class="info__content">
            <div class="info__content__first">
                <i class="fas fa-code fa-6x"></i>
                <h5 class="text"> learn develop skills </h5>
            </div>
            <div class="info__content__second">
                <i class="far fa-lightbulb fa-6x"></i>
                <h5 class="text"> realize your own service </h5>
            </div>
            <div class="info__content__third">
                <i class="far fa-comments fa-6x"></i>
                <h5 class="text"> co-work other dreamers </h5>
            </div>
        </div>
        <div class="info__end">
            <h4 class="text"> in <point>LIKE LION </point>@ DGIST </h4>
        </div>
    </div>
    <div class="curi">
        <div class="curi__title">
            <h3 class="text"> Curriculum </h3>
            <hr/>
            <p class="discription"> * 커리큘럼은 변동될 수 있습니다. </p>
        </div>
        <div class="curi__card">
            <div class="elem-top">
                <div class="elem">
                    <img src="../static/html.png" alt="html" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../static/css.png" alt="css" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../static/js.png" alt="js" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../static/python.png" alt="python" class="logo"/>
                </div>
            </div>
            <div class="elem-bottom">
                <div class="elem">
                    <img src="../static/react.png" alt="react" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../static/django.png" alt="django" class="logo"/>
                </div>
                <div class="elem">
                    <img src="../static/git.png" alt="git" class="logo"/>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}